In [72]:
import pandas as pd
import json

In [73]:
df = pd.read_csv('/datalake/transient/dictas_meta.csv')

In [74]:
df['tipo'].drop_duplicates()

0         int
4     varchar
6        date
8        text
9       float
14       char
16     bigint
73       bool
Name: tipo, dtype: object

In [75]:
df.groupby('tabela')\
     .apply(lambda x: x[['nome','nome_banco','tipo','regex']]
            .to_dict('r'))\
     .reset_index()\
.rename(columns={0:'fields'})

         tabela                                             fields
0  beneficiario  [{'nome': 'Cod. Beneficiário', 'nome_banco': '...
1     consultas  [{'nome': 'Código da consulta', 'nome_banco': ...
2         custo  [{'nome': 'Cod. Beneficiário', 'nome_banco': '...
3       diarias  [{'nome': 'Código da diária', 'nome_banco': 'f...
4       empresa  [{'nome': 'Cod. Empresa', 'nome_banco': 'pk_em...
5   prestadores  [{'nome': 'Cod. Médico/Prestador (campo chave)...
6      receitas  [{'nome': 'Mês Competência', 'nome_banco': 'me...
7       servico  [{'nome': 'Cod. Serviço', 'nome_banco': 'pk_se...
8         vidas  [{'nome': 'Competência', 'nome_banco': 'mes_co...

In [78]:
jsonexport = (df.groupby('tabela')
     .apply(lambda x: x[['nome','nome_banco','tipo','regex']]
            .to_dict('r'))
     .reset_index()
     .rename(columns={0:'fields'}))

In [80]:
jsonexport.to_json('/datalake/transient/dictas_meta.json',orient='records',force_ascii=False)

In [48]:
with open('dictas_meta.json','rb') as meta:
    metadados = json.load(meta)

In [51]:
def consult_params_table(tb_name, col): 
    for x in metadados:
        if x['tabela'] == tb_name:
            return [y[col] for y in x['fields']]

In [54]:
tipo = consult_params_table('vidas', 'tipo')

In [55]:
nome_banco = consult_params_table('vidas', 'nome_banco')

In [70]:
regex = consult_params_table('vidas', 'regex')

In [56]:
tipo

['int', 'int', 'char']

In [61]:
dic = dict(zip(nome_banco,tipo))

In [69]:
for x in dic:
    print(dic[x])

int
int
char

In [71]:
regex

['\\d', '\\d', '\\w\\s']