In [1]:
%config IPCompleter.greedy=True

import os
import re
import petl as etl
import csv
import datetime

from azure.storage.blob import ContainerClient
from azure.storage.blob import BlobServiceClient

## Conexão Blob

In [2]:
account_name='datalake2dictas'
account_key='wlxJHcWvtVhPpL/zs6l+F1bJGKZnJ4HppZcVyh+ns32oH46E3dY/HBLau3V6um9hv+KZf/3mXEAL5nHD41X3jg=='
container_from = 'transient'
container_to = 'raw'
work_dir = '/home/giovani/Documentos/git/newdict/jupyter/datalake/temp_dir/'

In [3]:
cc_transient = ContainerClient(account_url=f"https://{account_name}.blob.core.windows.net/",container_name=container_from, credential=account_key)
cc_raw = ContainerClient(account_url=f"https://{account_name}.blob.core.windows.net/",container_name=container_to, credential=account_key)
cc_trusted = ContainerClient(account_url=f"https://{account_name}.blob.core.windows.net/",container_name='trusted', credential=account_key)
cc_refined = ContainerClient(account_url=f"https://{account_name}.blob.core.windows.net/",container_name='refined', credential=account_key)

### Lista blobs

In [4]:
# List the blobs in the container.
lista=[]
#print("\nList blobs in the container"+ '\n')
blob_list = cc_transient.list_blobs()
for blob in blob_list:
    #print(blob.name + '\n')
    lista.append(blob.name)

In [5]:
lista

['beneficiario/17-BENEFICIARIO.csv']

In [12]:
for l in lista:
    a=l.split('/')

In [14]:
a[1]

'17-BENEFICIARIO.csv'

In [47]:
def write_csv_file(lines, file):
    """
    lines (lists of list): record content
    header (list): titles
    file = (string): path to file save
    """
   
    with open(file + '.csv', "w", newline='') as f:
        writer = csv.writer(f, delimiter=',')
        #writer.writerow(header)

        for l in lines:
            a=l.split('/')
            writer.writerow([a])

In [56]:
for arquivo in lista:
    file = arquivo.split ('/')[1]#.replace(f'.{csv}', '')
    directory = arquivo.split ('/')[0]#.replace(f'.{csv}','')
    print ('datalake/temp_dir/'+directory+'/'+file)
#    write_csv_file(file, 'datalake/temp_dir/'+directory+'/'+'arqcarga')

datalake/temp_dir/beneficiario/BENEFICIARIOS.csv
datalake/temp_dir/consultas/CONSULTAS.csv
datalake/temp_dir/custo/CUSTO 012018.csv
datalake/temp_dir/custo/CUSTO 012019.csv
datalake/temp_dir/custo/CUSTO 022017.csv
datalake/temp_dir/custo/CUSTO 022018.csv
datalake/temp_dir/custo/CUSTO 022019.csv
datalake/temp_dir/custo/CUSTO 032017.csv
datalake/temp_dir/custo/CUSTO 032018.csv
datalake/temp_dir/custo/CUSTO 032019.csv
datalake/temp_dir/custo/CUSTO 042017.csv
datalake/temp_dir/custo/CUSTO 042018.csv
datalake/temp_dir/custo/CUSTO 042019.csv
datalake/temp_dir/custo/CUSTO 052017.csv
datalake/temp_dir/custo/CUSTO 052018.csv
datalake/temp_dir/custo/CUSTO 052019.csv
datalake/temp_dir/custo/CUSTO 062017.csv
datalake/temp_dir/custo/CUSTO 062018.csv
datalake/temp_dir/custo/CUSTO 062019.csv
datalake/temp_dir/custo/CUSTO 072017.csv
datalake/temp_dir/custo/CUSTO 072018.csv
datalake/temp_dir/custo/CUSTO 072019.csv
datalake/temp_dir/custo/CUSTO 082017.csv
datalake/temp_dir/custo/CUSTO 082018.csv
datalake/temp_dir/custo/CUSTO 082019.csv
datalake/temp_dir/custo/CUSTO 092017.csv
datalake/temp_dir/custo/CUSTO 092018.csv
datalake/temp_dir/custo/CUSTO 092019.csv
datalake/temp_dir/custo/CUSTO 102017.csv
datalake/temp_dir/custo/CUSTO 102018.csv
datalake/temp_dir/custo/CUSTO 112017.csv
datalake/temp_dir/custo/CUSTO 112018.csv
datalake/temp_dir/custo/CUSTO 122017.csv
datalake/temp_dir/custo/CUSTO 122018.csv
datalake/temp_dir/diarias/DIARIAS.csv
datalake/temp_dir/empresa/EMPRESA.csv
datalake/temp_dir/prestador/PRESTADORES.csv
datalake/temp_dir/receitas/RECEITA 012018.csv
datalake/temp_dir/receitas/RECEITA 012019.csv
datalake/temp_dir/receitas/RECEITA 022017.csv
datalake/temp_dir/receitas/RECEITA 022018.csv
datalake/temp_dir/receitas/RECEITA 022019.csv
datalake/temp_dir/receitas/RECEITA 032017.csv
datalake/temp_dir/receitas/RECEITA 032018.csv
datalake/temp_dir/receitas/RECEITA 032019.csv
datalake/temp_dir/receitas/RECEITA 042017.csv
datalake/temp_dir/receitas/RECEITA 042018.csv
datalake/temp_dir/receitas/RECEITA 042019.csv
datalake/temp_dir/receitas/RECEITA 052017.csv
datalake/temp_dir/receitas/RECEITA 052018.csv
datalake/temp_dir/receitas/RECEITA 052019.csv
datalake/temp_dir/receitas/RECEITA 062017.csv
datalake/temp_dir/receitas/RECEITA 062018.csv
datalake/temp_dir/receitas/RECEITA 062019.csv
datalake/temp_dir/receitas/RECEITA 072017.csv
datalake/temp_dir/receitas/RECEITA 072018.csv
datalake/temp_dir/receitas/RECEITA 072019.csv
datalake/temp_dir/receitas/RECEITA 082017.csv
datalake/temp_dir/receitas/RECEITA 082018.csv
datalake/temp_dir/receitas/RECEITA 082019.csv
datalake/temp_dir/receitas/RECEITA 092017.csv
datalake/temp_dir/receitas/RECEITA 092018.csv
datalake/temp_dir/receitas/RECEITA 092019.csv
datalake/temp_dir/receitas/RECEITA 102017.csv
datalake/temp_dir/receitas/RECEITA 102018.csv
datalake/temp_dir/receitas/RECEITA 102019.csv
datalake/temp_dir/receitas/RECEITA 112017.csv
datalake/temp_dir/receitas/RECEITA 112018.csv
datalake/temp_dir/receitas/RECEITA 122017.csv
datalake/temp_dir/receitas/RECEITA 122018.csv
datalake/temp_dir/servico/SERVICOS.csv
datalake/temp_dir/vidas/VIDAS 012018.csv
datalake/temp_dir/vidas/VIDAS 012019.csv
datalake/temp_dir/vidas/VIDAS 02-2017.csv
datalake/temp_dir/vidas/VIDAS 022018.csv
datalake/temp_dir/vidas/VIDAS 022019.csv
datalake/temp_dir/vidas/VIDAS 032017.csv
datalake/temp_dir/vidas/VIDAS 032018.csv
datalake/temp_dir/vidas/VIDAS 032019.csv
datalake/temp_dir/vidas/VIDAS 042017.csv
datalake/temp_dir/vidas/VIDAS 042018.csv
datalake/temp_dir/vidas/VIDAS 042019.csv
datalake/temp_dir/vidas/VIDAS 052017.csv
datalake/temp_dir/vidas/VIDAS 052018.csv
datalake/temp_dir/vidas/VIDAS 052019.csv
datalake/temp_dir/vidas/VIDAS 062017.csv
datalake/temp_dir/vidas/VIDAS 062018.csv
datalake/temp_dir/vidas/VIDAS 062019.csv
datalake/temp_dir/vidas/VIDAS 072017.csv
datalake/temp_dir/vidas/VIDAS 072018.csv
datalake/temp_dir/vidas/VIDAS 072019.csv
datalake/temp_dir/vidas/VIDAS 082017.csv
datalake/temp_dir/vidas/VIDAS 082018.csv
datalake/temp_dir/vidas/VIDAS 082019.csv
datalake/temp_dir/vidas/VIDAS 092017.csv
datalake/temp_dir/vidas/VIDAS 092018.csv
datalake/temp_dir/vidas/VIDAS 092019.csv
datalake/temp_dir/vidas/VIDAS 102017.csv
datalake/temp_dir/vidas/VIDAS 102018.csv
datalake/temp_dir/vidas/VIDAS 102019.csv
datalake/temp_dir/vidas/VIDAS 112017.csv
datalake/temp_dir/vidas/VIDAS 112018.csv
datalake/temp_dir/vidas/VIDAS 122017.csv
datalake/temp_dir/vidas/VIDAS 122018.csv

In [66]:
DIR='datalake/'
ARQ='RECEITA052019.csv'

In [79]:
table = etl.fromcsv(DIR+ARQ, delimiter='|')
table1 = etl.pushheader(table, ['mes_competencia', 'fk_beneficiario','fk_empresa','dt_geracao_titulo', 'dt_pgto','nr_centro_custo','descricao_centro_custo','tipo_cobranca','vl_cobranca', 'vl_pago','tipo_cobranca_sub'])
table1

+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| mes_competencia  | fk_beneficiario    | fk_empresa         | dt_geracao_titulo | dt_pgto      | nr_centro_custo | descricao_centro_custo | tipo_cobranca | vl_cobranca | vl_pago    | tipo_cobranca_sub |
+==================+====================+====================+===================+==============+=================+========================+===============+=============+============+===================+
| '\ufeff052019\t' | '00069352020175\t' | '17155730000164\t' | '20190530\t'      | '20190530\t' | 'NULL\t'        | 'NULL\t'               | 'CONT\t'      | '211.63\t'  | '211.63\t' | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| '052019\t'       | '00000648000243\t' | '17155730000164\t' | '20190530\t'      | '20190530\t' | 'NULL\t'        | 'NULL\t'               | 'CONT\t'      | '437.24\t'  | '437.24\t' | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| '052019\t'       | '00012333003978\t' | '17155730000164\t' | '20190530\t'      | '20190530\t' | 'NULL\t'        | 'NULL\t'               | 'CONT\t'      | '182.44\t'  | '182.44\t' | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| '052019\t'       | '00017048005826\t' | '17155730000164\t' | '20190530\t'      | '20190530\t' | 'NULL\t'        | 'NULL\t'               | 'CONT\t'      | '182.44\t'  | '182.44\t' | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| '052019\t'       | '00017086005839\t' | '17155730000164\t' | 'NULL\t'          | '20190530\t' | 'NULL\t'        | 'NULL\t'               | 'PART\t'      | '77.43\t'   | '77.43\t'  | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
...

In [76]:
table2 = etl.convert(table1, 'dt_geracao_titulo', 'replace', 'NULL', '')
table2

+------------------+--------------------+--------------------+-------------------+---------------+-------------+----------+----------+------------+------------+--------+
| mes_competencia  | fk_beneficiario    | fk_empresa         | dt_geracao_titulo | tipo_cobranca | vl_cobranca | vl_pago  |          |            |            |        |
+==================+====================+====================+===================+===============+=============+==========+==========+============+============+========+
| '\ufeff052019\t' | '00069352020175\t' | '17155730000164\t' | '20190530\t'      | '20190530\t'  | 'NULL\t'    | 'NULL\t' | 'CONT\t' | '211.63\t' | '211.63\t' | 'NULL' |
+------------------+--------------------+--------------------+-------------------+---------------+-------------+----------+----------+------------+------------+--------+
| '052019\t'       | '00000648000243\t' | '17155730000164\t' | '20190530\t'      | '20190530\t'  | 'NULL\t'    | 'NULL\t' | 'CONT\t' | '437.24\t' | '437.24\t' | 'NULL' |
+------------------+--------------------+--------------------+-------------------+---------------+-------------+----------+----------+------------+------------+--------+
| '052019\t'       | '00012333003978\t' | '17155730000164\t' | '20190530\t'      | '20190530\t'  | 'NULL\t'    | 'NULL\t' | 'CONT\t' | '182.44\t' | '182.44\t' | 'NULL' |
+------------------+--------------------+--------------------+-------------------+---------------+-------------+----------+----------+------------+------------+--------+
| '052019\t'       | '00017048005826\t' | '17155730000164\t' | '20190530\t'      | '20190530\t'  | 'NULL\t'    | 'NULL\t' | 'CONT\t' | '182.44\t' | '182.44\t' | 'NULL' |
+------------------+--------------------+--------------------+-------------------+---------------+-------------+----------+----------+------------+------------+--------+
| '052019\t'       | '00017086005839\t' | '17155730000164\t' | '\t'              | '20190530\t'  | 'NULL\t'    | 'NULL\t' | 'PART\t' | '77.43\t'  | '77.43\t'  | 'NULL' |
+------------------+--------------------+--------------------+-------------------+---------------+-------------+----------+----------+------------+------------+--------+
...

In [81]:
table3 = etl.convert(table1, ('dt_geracao_titulo','dt_pgto','nr_centro_custo'), 'replace','NULL','' )
table3

+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| mes_competencia  | fk_beneficiario    | fk_empresa         | dt_geracao_titulo | dt_pgto      | nr_centro_custo | descricao_centro_custo | tipo_cobranca | vl_cobranca | vl_pago    | tipo_cobranca_sub |
+==================+====================+====================+===================+==============+=================+========================+===============+=============+============+===================+
| '\ufeff052019\t' | '00069352020175\t' | '17155730000164\t' | '20190530\t'      | '20190530\t' | '\t'            | 'NULL\t'               | 'CONT\t'      | '211.63\t'  | '211.63\t' | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| '052019\t'       | '00000648000243\t' | '17155730000164\t' | '20190530\t'      | '20190530\t' | '\t'            | 'NULL\t'               | 'CONT\t'      | '437.24\t'  | '437.24\t' | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| '052019\t'       | '00012333003978\t' | '17155730000164\t' | '20190530\t'      | '20190530\t' | '\t'            | 'NULL\t'               | 'CONT\t'      | '182.44\t'  | '182.44\t' | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| '052019\t'       | '00017048005826\t' | '17155730000164\t' | '20190530\t'      | '20190530\t' | '\t'            | 'NULL\t'               | 'CONT\t'      | '182.44\t'  | '182.44\t' | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| '052019\t'       | '00017086005839\t' | '17155730000164\t' | '\t'              | '20190530\t' | '\t'            | 'NULL\t'               | 'PART\t'      | '77.43\t'   | '77.43\t'  | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
...