## Imports

In [27]:
import os
import shutil
import petl as etl
import csv
from collections import OrderedDict

## Busca Arquivos

### Função

In [6]:
def get_all_files_from_dir(folder_input):
    return [os.path.join(folder_input, f) for f in os.listdir(folder_input) if os.path.isfile(os.path.join(folder_input, f))]

### Busca

In [3]:
folder_input = 'datalake'
lista = get_all_files_from_dir(folder_input)
lista

['datalake/empresas.p',
 'datalake/prestadores.p',
 'datalake/RECEITA 012018.csv',
 'datalake/custos_fechados.p',
 'datalake/procedimentos.p',
 'datalake/receitas_mensalidades.p',
 'datalake/receitas_coparticipacoes.p',
 'datalake/beneficiarios.p']

### Verifica tamanho da lista de arquivos

In [94]:
# *** lista_len recebe o tamanho da lista ***
lista_len = len(lista)
lista_len

7

### Move Arquivos

In [4]:
folder_output = 'datalake/'
x = 0

while x < lista_len:
    mv=lista[x]
    shutil.copy(mv, folder_output) 
    x += 1

NameError: name 'lista_len' is not defined

### Procura nome de arquivo para o diretório

In [104]:
def get_file_name_to_dir(file):
    arq=file.split('/')[-1]
    pasta=arq.split('.')
    return pasta[0]

'beneficiarios'

In [109]:
teste=get_file_name_to_dir(mv)
teste

'beneficiarios'

### Carrega o arquivo para a pasta certa

In [113]:
folder_output = 'datalake'
x = 0

while x < lista_len:
    mv=lista[x]
    folder=get_file_name_to_dir(mv)
    shutil.copy(mv, 'datalake/Sinpef/'+folder) 
    x += 1

In [ ]:
# translate a field
... mappings['gender'] = 'sex', {'male': 'M', 'female': 'F'}

In [28]:
table1 = etl.fromcsv('datalake/RECEITA 012018.csv', delimiter='|')
table1

+------------+--------------------+--------------------+--------------+--------------+----------+----------+----------+------------+------------+--------+
| ﻿012018	   | 00000354000129	    | 16539926000190	    | 20180122	    | 20180215	    | NULL	    | NULL	    | CONT	    | 949.09	    | 949.09	    | NULL   |
+============+====================+====================+==============+==============+==========+==========+==========+============+============+========+
| '012018\t' | '00000354000129\t' | '16539926000190\t' | '20180122\t' | '20180215\t' | 'NULL\t' | 'NULL\t' | 'PART\t' | '30.71\t'  | '30.71\t'  | 'NULL' |
+------------+--------------------+--------------------+--------------+--------------+----------+----------+----------+------------+------------+--------+
| '012018\t' | '00000428000157\t' | '16539926000190\t' | '20180122\t' | '20180126\t' | 'NULL\t' | 'NULL\t' | 'PART\t' | '630.48\t' | '630.48\t' | 'NULL' |
+------------+--------------------+--------------------+--------------+--------------+----------+----------+----------+------------+------------+--------+
| '012018\t' | '00000551000210\t' | '16539926000190\t' | 'NULL\t'     | '20180206\t' | 'NULL\t' | 'NULL\t' | 'PART\t' | '185.96\t' | '185.96\t' | 'NULL' |
+------------+--------------------+--------------------+--------------+--------------+----------+----------+----------+------------+------------+--------+
| '012018\t' | '00000050000015\t' | '03907799000192\t' | '20180122\t' | '20180215\t' | 'NULL\t' | 'NULL\t' | 'CONT\t' | '384.14\t' | '384.14\t' | 'NULL' |
+------------+--------------------+--------------------+--------------+--------------+----------+----------+----------+------------+------------+--------+
| '012018\t' | '00000050000015\t' | '03907799000192\t' | '20180122\t' | '20180215\t' | 'NULL\t' | 'NULL\t' | 'PART\t' | '630.48\t' | '630.48\t' | 'NULL' |
+------------+--------------------+--------------------+--------------+--------------+----------+----------+----------+------------+------------+--------+
...

In [29]:
table2 = etl.pushheader(table1, ['mes_competencia', 'fk_beneficiario','fk_empresa','dt_geracao_titulo','dt_pgto','nr_centro_custo','descricao_centro_custo','tipo_cobranca','vl_cobranca','vl_pago','tipo_cobranca_sub'])

In [30]:
table2

+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| mes_competencia  | fk_beneficiario    | fk_empresa         | dt_geracao_titulo | dt_pgto      | nr_centro_custo | descricao_centro_custo | tipo_cobranca | vl_cobranca | vl_pago    | tipo_cobranca_sub |
+==================+====================+====================+===================+==============+=================+========================+===============+=============+============+===================+
| '\ufeff012018\t' | '00000354000129\t' | '16539926000190\t' | '20180122\t'      | '20180215\t' | 'NULL\t'        | 'NULL\t'               | 'CONT\t'      | '949.09\t'  | '949.09\t' | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| '012018\t'       | '00000354000129\t' | '16539926000190\t' | '20180122\t'      | '20180215\t' | 'NULL\t'        | 'NULL\t'               | 'PART\t'      | '30.71\t'   | '30.71\t'  | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| '012018\t'       | '00000428000157\t' | '16539926000190\t' | '20180122\t'      | '20180126\t' | 'NULL\t'        | 'NULL\t'               | 'PART\t'      | '630.48\t'  | '630.48\t' | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| '012018\t'       | '00000551000210\t' | '16539926000190\t' | 'NULL\t'          | '20180206\t' | 'NULL\t'        | 'NULL\t'               | 'PART\t'      | '185.96\t'  | '185.96\t' | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| '012018\t'       | '00000050000015\t' | '03907799000192\t' | '20180122\t'      | '20180215\t' | 'NULL\t'        | 'NULL\t'               | 'CONT\t'      | '384.14\t'  | '384.14\t' | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
...

In [61]:
mappings = OrderedDict()
mappings['data'] = 'dt_geracao_titulo', {'NULL': 'aaaaa'}
                                #'sex', {'male': 'M', 'female': 'F'}

In [62]:
table3 = etl.fieldmap(table2, mappings)
table3

+------+
| data |
+======+

In [54]:
def rowmapper(row):
     transmf = {'NULL': ''}
     return [transmf[row['dt_geracao_titulo']] if row['dt_geracao_titulo'] in transmf else None,
             ]

In [55]:
table3 = etl.rowmap(table2, rowmapper,
                     header=['mes_competencia', 'fk_beneficiario','fk_empresa','dt_geracao_titulo','dt_pgto','nr_centro_custo','descricao_centro_custo','tipo_cobranca','vl_cobranca','vl_pago','tipo_cobranca_sub'])

In [56]:
table3

+-----------------+-----------------+------------+-------------------+---------+-----------------+------------------------+---------------+-------------+---------+-------------------+
| mes_competencia | fk_beneficiario | fk_empresa | dt_geracao_titulo | dt_pgto | nr_centro_custo | descricao_centro_custo | tipo_cobranca | vl_cobranca | vl_pago | tipo_cobranca_sub |
+=================+=================+============+===================+=========+=================+========================+===============+=============+=========+===================+