In [1]:
%config IPCompleter.greedy=True
import os.path
import csv
import sys
csv.field_size_limit(sys.maxsize)
import petl as etl
from collections import OrderedDict
from azure.storage.blob import BlobServiceClient, ContainerClient, BlobClient, BlobBlock

In [2]:
account_name='datalake2dictas'
account_key='wlxJHcWvtVhPpL/zs6l+F1bJGKZnJ4HppZcVyh+ns32oH46E3dY/HBLau3V6um9hv+KZf/3mXEAL5nHD41X3jg=='
container_from = 'transient'
container_to = 'raw'
upload_file = '/opt/jupyter_etl_dictas/datalake/transient/beneficiario/beneficiarios_atualizado.csv'
_LOCALDIR = '/opt/jupyter_etl_dictas/datalake/transient'

In [3]:
cc_transient = ContainerClient(account_url=f"https://{account_name}.blob.core.windows.net/",container_name=container_from, credential=account_key)
cc_raw = ContainerClient(account_url=f"https://{account_name}.blob.core.windows.net/",container_name=container_to, credential=account_key)

In [4]:
_TEMP_FILE='datalake/temp'
_METADADOS='metadado/list.csv'
_SOURCE='17'
_PROC_FILES='datalake/proc'
_NM_ARQ = 'RECEITAS.csv'

### Carrega blob Custos

#### Verifica Arquivo no Container

In [5]:
blob_list = cc_transient.list_blobs()
for blob in blob_list:
    print(blob.name + '\n')

BENEFICIARIO.csv

CONSULTAS.csv

CUSTOS.csv

DIARIAS.csv

EMPRESA.csv

PRESTADORES.csv

RECEITAS.csv

SERVICOS.csv

#### Faz Download para diretório local

In [6]:
with open (f'{_PROC_FILES}/{_SOURCE}/{_NM_ARQ}', 'wb') as data_from :
    data_from.write(cc_transient.get_blob_client(_NM_ARQ).download_blob ().readall ())

#### Carrega dados para transformação

In [7]:
table = etl.fromcsv(f'{_PROC_FILES}/{_SOURCE}/{_NM_ARQ}', delimiter='|')
table

+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| ﻿mes_competencia | fk_beneficiario    | fk_empresa         | dt_geracao_titulo | dt_pgto      | nr_centro_custo | descricao_centro_custo | tipo_cobranca | vl_cobranca | vl_pago    | tipo_cobranca_sub |
+==================+====================+====================+===================+==============+=================+========================+===============+=============+============+===================+
| '082019\t'       | '00052543016021\t' | '17155730000164\t' | '20190826\t'      | '20190829\t' | 'NULL\t'        | 'NULL\t'               | 'PART\t'      | '687.47\t'  | '687.47\t' | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| '082019\t'       | '00052543016021\t' | '17155730000164\t' | '20190826\t'      | '20190829\t' | 'NULL\t'        | 'NULL\t'               | 'CONT\t'      | '16.47\t'   | '16.47\t'  | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| '082019\t'       | '00053359016231\t' | '17155730000164\t' | '20190826\t'      | '20190730\t' | 'NULL\t'        | 'NULL\t'               | 'PART\t'      | '687.47\t'  | '687.47\t' | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| '082019\t'       | '00052655016048\t' | '17155730000164\t' | '20190826\t'      | '20190730\t' | 'NULL\t'        | 'NULL\t'               | 'PART\t'      | '687.47\t'  | '687.47\t' | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
| '082019\t'       | '00052655016048\t' | '17155730000164\t' | '20190826\t'      | '20190730\t' | 'NULL\t'        | 'NULL\t'               | 'PART\t'      | '53.53\t'   | '53.53\t'  | 'NULL'            |
+------------------+--------------------+--------------------+-------------------+--------------+-----------------+------------------------+---------------+-------------+------------+-------------------+
...

In [11]:
#Transforma sexo e tira os espaços vazios e substitui string 'NULL' por ''
def rowmapper(row):
    strnull = {'NULL':''}
    return [row[0].strip(),
            row[1].strip(),
            row[2].strip(),
            row[3].strip(),
            row[4].strip(),
            strnull[row['nr_centro_custo'].strip()] if row['nr_centro_custo'].strip() in strnull else row['nr_centro_custo'].strip(),
            strnull[row['descricao_centro_custo'].strip()] if row['descricao_centro_custo'].strip() in strnull else row['descricao_centro_custo'].strip(),
            row[7].strip(),
            row[8].strip(),
            row[9].strip(),
            strnull[row['tipo_cobranca_sub'].strip()] if row['tipo_cobranca_sub'].strip() in strnull else row['tipo_cobranca_sub'].strip()
            ]

table1 = etl.rowmap(table, rowmapper,
                    header=['mes_competencia','fk_beneficiario','fk_empresa','dt_geracao_titulo',
                            'dt_pgto','nr_centro_custo','descricao_centro_custo','tipo_cobranca',
                            'vl_cobranca','vl_pago','tipo_cobranca_sub'
                           ])
table1

+-----------------+------------------+------------------+-------------------+------------+-----------------+------------------------+---------------+-------------+----------+-------------------+
| mes_competencia | fk_beneficiario  | fk_empresa       | dt_geracao_titulo | dt_pgto    | nr_centro_custo | descricao_centro_custo | tipo_cobranca | vl_cobranca | vl_pago  | tipo_cobranca_sub |
+=================+==================+==================+===================+============+=================+========================+===============+=============+==========+===================+
| '082019'        | '00052543016021' | '17155730000164' | '20190826'        | '20190829' | ''              | ''                     | 'PART'        | '687.47'    | '687.47' | ''                |
+-----------------+------------------+------------------+-------------------+------------+-----------------+------------------------+---------------+-------------+----------+-------------------+
| '082019'        | '00052543016021' | '17155730000164' | '20190826'        | '20190829' | ''              | ''                     | 'CONT'        | '16.47'     | '16.47'  | ''                |
+-----------------+------------------+------------------+-------------------+------------+-----------------+------------------------+---------------+-------------+----------+-------------------+
| '082019'        | '00053359016231' | '17155730000164' | '20190826'        | '20190730' | ''              | ''                     | 'PART'        | '687.47'    | '687.47' | ''                |
+-----------------+------------------+------------------+-------------------+------------+-----------------+------------------------+---------------+-------------+----------+-------------------+
| '082019'        | '00052655016048' | '17155730000164' | '20190826'        | '20190730' | ''              | ''                     | 'PART'        | '687.47'    | '687.47' | ''                |
+-----------------+------------------+------------------+-------------------+------------+-----------------+------------------------+---------------+-------------+----------+-------------------+
| '082019'        | '00052655016048' | '17155730000164' | '20190826'        | '20190730' | ''              | ''                     | 'PART'        | '53.53'     | '53.53'  | ''                |
+-----------------+------------------+------------------+-------------------+------------+-----------------+------------------------+---------------+-------------+----------+-------------------+
...

#### Add fk_empresa

In [13]:
table2 = etl.addfields(table1,[('cd_empresa',_SOURCE)])
#table2
etl.tocsv(table2, f'{_PROC_FILES}/{_SOURCE}/t{_NM_ARQ}', delimiter='|')

In [14]:
upload_file=f'{_PROC_FILES}/{_SOURCE}/t{_NM_ARQ}'
#print(upload_file)
try:
    with open (upload_file, "rb") as data :
        #print(data)
        cc_raw.upload_blob(_NM_ARQ, data, overwrite = True)
finally:
    print("Tudo carregado")

Tudo carregado

#### Verifica se arquivo está no Blob

In [15]:
blob_list = cc_raw.list_blobs()
for blob in blob_list:
    print(blob.name + '\n')

BENEFICIARIO.csv

CONSULTAS.csv

CUSTOS.csv

DIARIAS.csv

EMPRESA.csv

PRESTADORES.csv

RECEITAS.csv

SERVICOS.csv